﻿@{
    Layout = null;
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="CSS/MyCSS.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a><b>(089) 8008320(HP)</b></a>
                <a><b>(089) 0348892(HCM)</b></a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng Nhập</button>
                <button>Đăng Ký</button>
                <input placeholder="Tìm Kiếm" />
            </div>
        </div>
        <div class="main-container">
            <img src="~/Content/Image/Logo_Vnexpress.png" />
            <img src="~/Content/Image/right-ads-2.png" />
            <img src="~/Content/Image/right-ads-3.png" />
        </div>
    </div>
</body>
</html>